@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    padding: 0;
    font-family: 'Luckiest Guy', cursive;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body.blobs-active {
    background: url("./assets/images/blob-scene-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* NAV ELEMENTS */

li, a {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: black;
}

li:hover, .shopping-cart:hover, .shop-btn:hover {
    transform: scale(1.1);
}

.nav-container img:hover {
    transform: scale(0.9);
}

header {
    padding: 1rem 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

header img {
    transform: scale(0.7);
}

header img:hover, header img:focus {
    transform: scale(0.8);
}

@media (max-width: 60rem) {
    header {
        padding: 1rem 100px;
    }
  }

@media (max-width: 50rem) {
    header {
        flex-direction: column;
        padding: 1rem;
    }
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0;
}

.nav-items {
    display: flex;
}

.shopping-cart {
    background-color: #FBAE3C;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.8rem 1rem;
    border-radius: 80vh;
    margin-left: 1.8rem;
}

.shopping-cart img {
    margin-top: -0.5rem;
}

/* HOME ELEMENTS */

.home {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.slogan {
    font-size: 32px;
    line-height: 5rem;
    margin-top: 10rem;
} 

.btn.btn-shop {
    border: 3px solid #FBAE3C;
    padding: 0.5rem;
    width: 200px;
    border-radius: 2rem;
    background-color: #FBAE3C;
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.4rem;
    cursor: pointer;

    margin-top: 1rem;
}

.btn.btn-shop:hover, .btn.btn-shop:focus {
    transform: scale(1.1);
}

/* PRODUCTS ELEMENTS */
.products {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 250px));
    place-content: center;
    gap: 1rem;
    padding: 1rem;
}

.items img {
    border-radius: 1rem;
    transform: scale(0.8);
    width: 220px;
    height: 180px;
}

.items img:hover, .items img:focus {
    transform: scale(0.9);
}

.items {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    background-color: #FBAE3C;
    border-radius: 10px;
}

/* FOOTER ELEMENTS */
.footer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    /* margin-left: 35px; */

    left: 0;
	bottom: 0;
	height: 30px;
	width: 100%;
    gap: 5px;
}

.footer img {
    transform: scale(0.8);
}

