

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    /* background-image: url("./assets/images/blob-scene-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover; */
}

/* NAV ELEMENTS */

/* HOME ELEMENTS */

body.blobs-active {
    background-image: url("./assets/images/blob-scene-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
}